/* Fonts */

@font-face {
  font-family: 'Din';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('fonts/DINNextLTPro-Light.woff2') format('woff2'),
}

@font-face {
  font-family: 'Din';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('fonts/DINNextLTPro-Regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'Din';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('fonts/DINNextLTPro-Medium.woff2') format('woff2'),
}

@font-face {
  font-family: 'Din';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('fonts/DINNextLTPro-Bold.woff2') format('woff2'),
}
/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Din;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Variables and presets */

* {
  --max-width: 1500px;
  --swiper-navigation-top-offset: 100%;
  --swiper-navigation-sides-offset: 40px;
  --swiper-navigation-color: black;
  --swiper-pagination-bottom: -5px;
  --swiper-pagination-color: white;
}

section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 80px 20px;
}

.bg-gray {
  background-color: #F0F8F8;
}

svg {
  cursor: pointer;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.swiper-pagination {
  z-index: 9 !important;
}

.swiper-pagination-bullet-active {
  border: 2px red solid;
  padding: 3px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 8px 16px;
  border-radius: 100%;
  border: 2px solid black;
  color: red;
  width: 45px !important;
  border-radius: 4px !important;
}

.swiper-button-next::after {
  content: '→' !important;
  font-size: 25px !important;
}

.swiper-button-prev::after {
  content: "←" !important;
  font-size: 25px !important;
}

.swiper-pagination-bullet{
  width: 40px;
  height: 40px;
  background-color: red;
}

/* Navigation */

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 30px 20px;
  width: 100%;
  color: white;
}

nav > div {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > img {
    height: 100px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 16px;
}

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link:hover {
  font-weight: 200;
  padding: 0 0.5px;
}

.nav-item:hover .nav-link::before{
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  bottom: -10px;
  left: 0;
  border-bottom: 1px solid white;
}

.hamburger {
  display: none;
  z-index: 2;
}

.mobile-menu {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left:  0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-menu .nav-item {
  margin: 0;
}

.mobile-menu a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.mobile-menu a:hover {
  color: #818181;
}

.mobile-menu-icon-list {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}


.hero {
  display: grid;
  left: 0;
  top: 0;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  min-height: 800px;
  color: white;
  max-width: none;
  padding: 0;
}

.hero > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 12vh;
}

.hero > div > h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.hero > div > h2 > span {
  font-weight: 300;
}

#hero1 {
  background-image: url("./images/bg1.png");
  background-size: cover;
  background-position: center;
}

#hero2 {
  background-image: url("./images/bg2.png");
  background-size: cover;
  background-position: center;
}

#hero3 {
  background-image: url("./images/bg3.png");
  background-size: cover;
  background-position: center;
}


#section1 {
  display: grid;
  grid-template-columns: 35% 58%;
  column-gap: 7%;
}

#section1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

#phone-number {
  display: flex;
  gap: 8px;
  color: #DF000F;
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
}

#section1 h3 {
  margin: 20px 0;
}

#section1-image {
  display: flex;
  align-items: center;
}

#section1 img {
  max-width: 100%;
}

#section2 {
  position: relative;
}

#section2 h3 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.swiper-slide, 
.grid-item {
  position: relative; 
  overflow: hidden;
  min-height: fit-content;
}

.servicii h4 {
  color: white;
  font-size: 28px;
  position: absolute;
  bottom: 40px;
  left: 50px;
  z-index: 20;
  transition: all;
  transition-duration: 500ms;
}

.swiper-slide:hover h4,
.swiper-slide:active h4,
.grid-item:hover h4,
.grid-item:active h4 {
  bottom: 120px;
}

.servicii svg {
  position: absolute;
  bottom: -100%;
  left: 50px;
  z-index: 20;
  transition: all;
  transition-duration: 500ms;
}

.swiper-slide:hover svg,
.swiper-slide:active svg,
.grid-item:hover svg,
.grid-item:active svg {
  bottom: 60px;
}

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  transition: all;
  transition-duration: 300ms;
}

.swiper-slide:hover .shadow,
.swiper-slide:active .shadow,
.grid-item:hover .shadow,
.grid-item:active .shadow {
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper {
  width: 100%;
  height: 100%;
  overflow-y: auto !important;
  position: unset !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.grid-item img {
  height: 100%;
}

#section3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 150px;
}

#section3 > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.statistic {
  position: relative;
  text-transform: uppercase;
}

.statistic::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  top: -20px;
  left: 0;
  border-bottom: 3px solid #DF000F;
}

.statistic b {
  color: #DF000F;
  font-size: 60px;
  font-weight: 500;
}

.statistic p {
  font-size: 16px;
}

#section4 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#section4 h2 {
  grid-column: 1 / 3;
  margin-bottom: 20px;
}

#section4 h3 {
  margin-bottom: 50px;
}

#section4 p {
  margin: 0 150px;
}

#svg-desktop {
  display: block;
}

#svg-mobile {
  display: none;
}

#section5-wrapper {
  padding-bottom: 150px;
}

#section5 {
  position: relative;
}

#section5 h3 {
  margin-top: 20px;
  margin-bottom: 60px;
}

#section5 .grid-container {
  grid-template-rows: 1fr;
}

#section5 img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

#section5 .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

#section5 .item {
  padding: 16px 0;
  grid-column: span 2;
  position: relative;
}

#section5 .item::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #eee; 
}

#section5 .half {
  grid-column: span 1;
}

#section5 .item b {
  font-size: 16px;
  text-transform: uppercase;
}

#section5 .item p {
  font-weight: 300;
  font-size: 30px;
  margin-top: 8px;
  color: #333;
}

#section6 {
  background-color: #262A3D;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  color: white;
  margin-top: -100px;
  margin-bottom: 80px;
  max-width: 1460px;
}

#section6 > div {
  padding: 40px 0 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#section6 > img {
  padding-right: 60px;
}

#section6 > div > svg {
  margin-top: 40px;
}

#section7-wrapper {
  position: relative;
}

#section7-wrapper .bg-gray {
  position: absolute;
  height: 500px;
  width: 100%;
  z-index: -1;
}

#section7 > img {
  width: 100%;
}

#section7 > div {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 50px;
}

#section7 h2 {
  grid-column: 1 / 3;
  margin-top: 50px;
  margin-bottom: 20px;
}

#section7 h3 {
  margin-bottom: 50px;
}

#section7 p {
  margin: 0 50px;
}

#section8 {
  position: relative;
  margin-bottom: 80px;
}

#section8 h3 {
  margin-top: 20px;
  margin-bottom: 50px;
}

#section8 .grid-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: black;
  gap: 20px;
}

#section8 .grid-item {
  overflow-y: auto;
  height: min-content;
}

#section8 img {
  aspect-ratio: 1 / 1;
  width: 100%;
  margin-bottom: 20px;
}

.blog b {
  font-size: 16px;
  text-transform: uppercase;
}

.blog p {
  font-weight: 300;
  font-size: 30px;
  margin-top: 8px;
  color: #333;
}

#section9-wrapper {
  background-image: url("images/defender-bg.png");
  background-position-x: 90%;
  background-size: cover;
}

#section9 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#section9 p {
  color: #666;
  position: relative;
  font-style: italic;
  margin: 20px 0 40px 0;
}

#section9 p::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 1px;
  bottom: -10px;
  left: 0;
  border-bottom: 1px solid #666;
  max-width: 70%;
}

footer {
  background-color: #262A3D;
  padding-top: 40px;
  color: white;
}

footer .container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px; 
}

footer h2 {
  opacity: 50%;
  font-size: 14px;
  margin-bottom: 10px;
}

footer b {
  font-size: 30px;
}

footer .upper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 200px;
  margin-bottom: 50px;
}

footer img {
  width: 200px;
  margin-bottom: 30px;
}

footer .info li{
  padding: 25px 0;
}

footer .info li:nth-child(2) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer .socials {
  margin-top: 50px;
}

footer .socials div {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

footer .socials svg {
  height: 60px;
  width: 60px;
}

footer .menu {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  gap: 50px;
}

footer .menu h2 {
  margin-bottom: 40px;
}

footer .menu ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: start;
}

footer .two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer .lower {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1100px) {
  section {
    max-width: 800px;
  }

  .hamburger {
    display: block;
  }

  nav > div > ul {
    flex-direction: column;
    position: fixed;
    left: 100%;
    top: 5rem;
    width: 100%;
    text-align: center;
  }

  .logo > img {
    height: 70px; 
  }

  .hero {
    max-width: none;
  }

  #section1 {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  #section1-image {
    grid-row-start: 1;
  }

  #section1-text {
    grid-row-start: 2;
    gap: 40px;
  }

  #section1 > h3 {
    margin: 15px 0;
  }

  #section2 {
    margin-bottom: 50px;
  }

  #section3 {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  #section4 {
    grid-template-columns: 1fr;
  }

  #section4 h2 {
    grid-column: 1;
  }

  #section4 p {
    margin: 0;
  }

  #svg-desktop {
    display: none;
  }

  #svg-mobile {
    display: block;
    margin-top: 30px;
  }

  #section5 {
    padding-bottom: 0;
    margin-bottom: 160px;
  }

  #section5 .list {
    margin-bottom: 0;
  }
  
  #section5 svg {
    position: relative;
    top: 120px;
  }

  #section6 {
    background-color: transparent;
    color: black;
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: 0;
  }

  #section6 img {
    grid-row: 1 / 2;
    background-color: #262A3D;
    padding: 30px;
    max-width: 90vw;
  }

  #section6 > div {
    padding-left: 0;
  }

  #section7-wrapper .bg-gray {
    height: 300px;
  }

  .desktop-only {
    display: none !important;
  }

  footer {
    text-align: center;
  }

  footer .upper {
    grid-template-columns: 1fr;
    place-items: center;
  }

  footer .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .socials div {
    justify-content: space-around;
  }

  footer .mobile-only {
    display: block;
    margin-bottom: 10px;
    line-height: 25px;
  }

  footer .lower {
    justify-content: center;
  }
  
}

@media screen and (max-width: 768px) {
  section {
    padding: 70px 20px;
  }

  .hero {
    padding: 0;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  
  .hero > div {
    padding-bottom: 30px;
  }

  .hero > div > h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  #section1 {
    background-color: #F8F9F9;
  }

  #section2 h3 {
    margin-bottom: 30px;
  }

  #section3 {
    width: 300px;
    margin: 0 auto;
  }

  #section3 > div {
    grid-template-columns: 1fr;
  }

  #section5 .half {
    grid-column: span 2;
  }

  #section7 > div {
    grid-template-columns: 1fr;
  }

  #section7 h2 {
    grid-column: 1;
  }

  #section7 p {
    margin: 0;
  }

  #section7-wrapper .bg-gray {
    height: 300px;
  }

  #section7 img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  #section9-wrapper {
    padding-top: 300px;
  }
}